body{
  margin:0;
}
a {
  color:black;
}
h1 {
  font-size:55px;
  text-align: center;
  margin:1;
  padding:20px;
  color: #FFB1BC;
  text-shadow: rgb(255,204,204) 10px 10px 20px;
}
h2 {
  font-size:45px;
}

ul{
  font-size:30px;
  color: #FF7493;
}

ol{
  font-size:28px;
  border-right:4px solid pink;
  width:150px;
  margin:0;
  padding:20px;
}

table {
  table-layout: fixed;
  border: 10px solid pink;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow:rgb(255,204,204) 10px 10px 20px;
  color: #FF7493;
  position: fixed;
  top: 200px;
  left: 800px;
}

td {
  font-weight: bold;
  font-size: 16px;
  border: 10px solid pink;
  width: 130px;
  height: 130px;
  padding: 3px;
  word-break: keep-all;
  color: #FF7493
}

.panel-footer{
  background: pink;
  color: white;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  margin-top: 10px;
  padding-left:100px;
}
@media(max-width:800px)
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1 {
    border-bottom:none;
  }
}
